@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aprendar acerca de <a href="http://www.google.com">Google</a>.</p>
</div>

@if(true){
    <p>Verdadero</p>
}

<a class="btn btn-primary" asp-action="Inicializar" asp-controller="InicializadorBase">Inicializar Base de datos</a>
