

<form method="post">
    <div>
        <label>Nombre:</label>
        <input type="text" name="nombre"/>
    </div>
    <div>
        <label>Apellido:</label>
        <input type="text" name="apellido" />
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email" />
    </div>
    <div>
        <input type="submit" value="Enviar"/>
    </div>


</form>